NODE_ENV=production
PORT=3000

DEPLOY_DOMAIN=developers.whats91.com
DEPLOY_REPO_URL=https://github.com/whats91/developers.whats91.com.git
DEPLOY_BRANCH=main
DEPLOY_PM2_APP_NAME=developers-whats91-com
DEPLOY_WEBHOOK_TOKEN=

# DATABASE_URL=
# WHATS91_API_KEY=
# WHATS91_WEBHOOK_SECRET=
